body {
    background: #f99;
}

.navi {
  display: flex-start;
  padding: 20px 10px;
  margin: 0px;
  justify-content: space-between;
  background-color: #c6c8cc;

}

nav a{
  padding: 20px 10px;
  margin: 0px;
  background-color: grey;
}
